DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
OPENAI_API_KEY=
OPENAI_MODEL=
DATABASE_URL=
S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
S3_REGION=

SERVER_STATS_CATEGORY_ID=
SERVER_STATS_CHANNEL_ID=